body{
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
}

.tuner-title {
    text-align: center;
    display: block !important;
}

.tuning-select {
    text-align: center;
    display: block !important;
    margin-top: 20px;
    font-weight: bolder;
}

#tune-select{
    padding: 10px;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}

#tune-select{
    padding: 10px;
}

#loop{
    padding-top: 15px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

option{
    padding: 10px;
}

.tuner-button {
    font-family: 'Rubik', sans-serif;
    background: black;
    color: white;
    font-size: 40px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    font-weight: bolder;
    text-align: center;
}

.tuner-button:hover{
    opacity: 0.7;
}
